html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.modal-dialog {
    z-index: 2;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
}

.modal-backdrop {
    z-index: 1;
}

.btn {
    margin: 0 0.1em;
}

.bg-green {
    background: #006400;
}

.btn-header {
    background: #006400;
    border: none;
    color: #fff;
}

.btn-header:hover {
    color: #ddd;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #007500;
}

.btn-header:visited {
    color: #fff;
}

.btn-primary {
    background: #006400;
    border: none;
}

.btn-primary:hover {
    background: #007500;
}

.btn-danger {
    background: #640000;
    border: none;
}

.btn-danger:hover {
    background: #750000;
}

.btn-primary:hover, .btn-danger:hover {
    color: #ddd;
}

a:not([href]):not([tabindex]) {
    color: white;
}

a:not([href]):not([tabindex]):hover {
    color: #ddd;
}

a:not([href]):not([tabindex]).active {
    color: #006400;
}

a:not([href]):not([tabindex]).heading {
    color: black;
    cursor: pointer;
}

.btn-primary.active {
    border: 2px solid #006400;
    padding: 10px 22px;
    color: #006400;
    background: none;
}

.btn-primary.active:hover {
    border: 2px solid #006400;
    background: none;
}

.separator {
    border: 1px solid white;
    width: 0;
    height: 2em;
}

.nav-item {
    font-weight: 600;
}

h1, h2, h3 {
    margin: 1em 0 0.25em 0;
}

.promo-btn {
    display: block;
    margin: 1em auto;
    max-width: 400px;
}
